.nav {
    &--hero {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: auto;
        top: 6%;
        position: relative;
        color: $gray-900;
        @media screen and (max-width: 768px) {
            top: 4%;
                padding-top: 2%;
        }
    }
    &__col{
        width: 50%;
    }
}

.navbar {
   &__buttons{
            display: flex;
            justify-content: flex-end;
        & > a {
                padding-top: 0;
                padding-bottom: 2px;
        }
       
   }
   &-item {
       font-weight: bold;
       font-size: 20px;
        @media screen and (max-width: 768px) {
            font-size: 16px;
        }
        a:hover {
            cursor: pointer;
        }
   }
}