.portfolio-item-image {
  height: 244px;
  width: 400px;
}
.portfolio-item-content {
  color: #4a4a4a;
  padding-bottom: 2.4rem;
  padding-top: 1rem;
  position: relative;
//   padding-left:14px;
//   &:before{
//       content: "";
//       position: absolute;
//       left: 0;
//       width:4px;
//       height:40px;
//       margin-right:4px;
//       background: #fc9d36;
//   }
}