.portfolio-item-image {
    aspect-ratio: 2 / 1.18;
    filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.2));
    max-width: auto;

    &:hover {
        filter: drop-shadow(1px 1px 15px rgba(0, 0, 0, 0.25));
        transition: .3s ease-in-out;
    }
}
.portfolio__inner {
    padding: 20px;
}
.portfolio-item-content {
    color: #4a4a4a;
    padding-bottom: 2.4rem;
    padding-top: 1rem;
    position: relative;
}

.process {
    &__image {
        @media screen and (min-width: 768px){
            max-width: 600px;
        }
        filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
    }
}

p {
    white-space: pre-line;
}

.button--close {
    color: #055835;
    font-size: 30px;
}

// .portfolio-page-image {
//     max-width: 550px;
//     margin: 2rem 0;
// }

// @media screen and (min-width: 1408px) {
//     .container {
//         /* max-width: 1344px; */
//         max-width: 1152px;
//     }
// }