$font-headline : "Poppins", sans-serif;
$font-body : "PT Sans", sans-serif;
$font-josefin-sans: "Josefin Sans", sans-serif;

.title, .subtitle {
    display:inline-block;
}
h1 {
    font-family: $font-headline;
    font-weight: 800;
    display:inline-block;
    margin-bottom: 1rem;
}
h2, h3, h4, h5 {
    font-family: $font-headline;
    font-weight: 600;  
}
p, .font-body {
    font-family: $font-josefin-sans;
}

.is-strong{
    font-weight: bold;
}
.navbar a {
   font-family: $font-josefin-sans;
}